
@{
    ViewBag.Title = "Page Not Found!";
}

<h2>Could not find your page!</h2>

<p>
    If you believe this resource should be here,
    send us a message at 
    <a href="mailto:support@somesite.com">Support</a>
</p>