
@{
    ViewBag.Title = "Server Error!";
}

<h2>Server Error Encountered</h2>

<p>
    Sorry!, We have encountered a problem
    on our end. Our engineering team is working on it.
    Please try again later.
</p>

<img height="350" 
     class="img-circle" 
     src="~/Images/ErrorPic/stock-vector-broken-robot-fix-technology-a-hand-drawn-vector-cartoon-illustration-of-a-broken-robot-trying-to-527043610.jpg" 
     alt="BrokenRobot" />