@{
    ViewBag.Title = "OnlineComputerStore Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    OnlineComputerStore<br />
    MeMyselfAndI, WA. 48401<br />
    <abbr title="Phone">P:</abbr>
    425.123.4567
    <abbr title="Website">Web:</abbr>
    www.OnlineComputerStore.net
</address>